<header>
  <% if (user) { %>
    <label> Logged in as <strong><%= user.id %></strong></label>
    <form method='POST' action='/logout'>
      <button>Logout</button>
    </form>
  <% } else {%>
    <p>Please <a href='/login'>log in</a> or <a href='/register'>register</a></p>
  <% }%>
</header>