<header>
  <% if (user) { %>
    <label> Logged in as <strong><%= user.id %></strong></label>
    <form method='POST' action='/logout'>
      <button>Logout</button>
    </form>
  <% } else {%>
    <a href='/login'>Log in</a> or <a href='/register'>register</a>
  <% }%>

  <h1>title</h1>
</header>