<!-- alternate login page when redirected from unauthorized pages -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp Login Prompt</title>
</head>

<body style="font-size:20px; padding:20px;">

  <% include partials/_header %>

</body>
</html>