<!DOCTYPE html>
<html>
<head>

  <meta charset='utf-8'>
  <title>TinyApp Register</title>

</head>

<body>
  <div>
    <form method='POST' action='/register'>
      <input type='email' name='email'>
      <input type='password' name='password'>
      <button>Register</button>
    </form>
  </div>


</body>
</html>