<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>

  <main>
    <div>
      <ul>
        <% for (item in urls) { %>
          <li><%= item %> --> <%= urls[item] %></li>
        <% }; %>
      </ul>
      <a href="">Look, another short URL!</a>
    </div>

  </main>

</body>
</html>