<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
    <% include partials/_header %>
  <main>
    <div>
      <h1>ShortURL: <strong><%= shortURL %></strong></h1>
      <p>Currently redirects to:
        <a target="blank" href='<%= longURL %>'><%= longURL %></a>
      </p>
      <form method='POST' action='/urls/<%= shortURL %>/update'>
        <input type="text" name="update">
        <button type='text'>Update</button>
      </form>
    </div>

  </main>

</body>
</html>